*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

:root {
  --color-grey-light: hsl(0, 0%, 20%);
  --color-grey-semi: hsl(0, 0%, 12%);
  --color-grey-dark: hsl(0, 0%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-text: hsl(75, 94%, 57%);

  --spacing-big: 4rem;
  --spacing-middle: 2.4rem;
  --spacing-small: 1.6rem;

  --typography-text-big: 2.4rem;
  --typography-text-small: 1.4rem;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* social links profile */
#root {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  background-color: var(--color-grey-dark);
}

main {
  align-self: center;
  justify-self: center;
  width: 384px;
  padding: var(--spacing-big);
  color: var(--color-white);
  background-color: var(--color-grey-semi);
  border-radius: 1.2rem;
  overflow: hidden;
  text-align: center;
}

footer {
  align-self: end;
}

article {
  display: grid;
  gap: var(--spacing-middle);
}

.profile__header {
  display: grid;
  justify-items: center;
  gap: var(--spacing-middle);
}

.profile__image {
  border-radius: 50%;
  width: 8.8rem;
}

.profile__personal h1 {
  font-size: var(--typography-text-big);
}

.profile__personal p {
  font-size: var(--typography-text-small);
  color: var(--color-text);
}

.profile__about {
  font-size: var(--typography-text-small);
}

.profile__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--spacing-small);
}

.profile__links li {
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--color-grey-light);
  transition:
    background-color 0.6s,
    color 0.5s;
  color: var(--color-white);
}

.profile__links li:hover,
.profile__links li:focus-within {
  color: var(--color-grey-dark);
  background-color: var(--color-text);
}

.profile__links a {
  color: inherit;
  text-decoration: none;
  font-size: var(--typography-text-small);
  font-weight: bold;
}

.attribution {
  font-size: 1.1rem;
  color: var(--color-white);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
